
body{
    
    background-color: #2B2929;
    background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

/*#container{
    width: 80%;
    margin: 0 auto;
    overflow:auto;
    clear:both;
}*/

.main-nav ul {
  width: 100%;
  text-align: center;
}

.main-header .main-nav{
    background-color: rgba(0,0,0,0.8);    
    border-radius: 5px;
}

.navbar .transparent .navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}

.main-header .main-nav ul{
    list-style: none;
    margin:0;
}

.main-header .main-nav li{
   color: white;
   display: inline;
   margin-right: 3px;   
}

.main-header .main-nav li a{
   color: white;   
   display: inline-block;
   padding: 10px 20px;
   /*height: 27px;*/
}

.main-header .main-nav .active {
    color: red;  
    /*height:27px;  */
    border-bottom: none;
}

.main-nav li a:hover {
  text-decoration: none;

    border-bottom: 1px solid red;
}  

.main-nav li .active a:hover {
  text-decoration: none;

    
}  


a {
  text-decoration: none;
  color:#f5f5f5;
  font-weight: bold;
}

#imageReplace {
  background-image: url('../images/businessMarquee.jpg');
  /*background-repeat: no-repeat; */
  background-size:cover;
  
 height: 800px;
 -webkit-transition: background-image 0.5s ease-in-out;
 -moz-transition: background-image 0.5s ease-in-out;
 -o-transition: background-image 0.5s ease-in-out;
 -ms-transition: background-image 0.5s ease-in-out;
 transition: background-image 0.5s ease-in-out;
}

#imageTitle{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  padding-top: 65px;
  color: white;
  position: relative;
  top: 40%; 
}

#imageCaption{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: white;
  position: relative;
  top: 40%; 
}



#links {
  color: white;
  background-color: transparent;
  float: right;
  margin: 10px;
  list-style-type: none;
  text-align: right;
  padding: 5px;
  padding-top: 65px;  
  position: relative;
  top: 20%;
  
}

#links .active{
  color: white;
  text-decoration: none;
}

#links a:hover
    {
        color:white;
        text-decoration: none;
    }

#links .active::after {
  content: " - ";
  color: red;
  font-weight: bold;
  
}


.main_width {
  width: 960px;
  margin: 0px auto;
}

section #marquee-img {
    width: 600PX;
    height: 300px;
}

.myarrow{
   font-family: 'Chewy', cursive;
   text-align: center;
   padding: 10px 20px;
   text-decoration-color: #43D1FF;
   color: #43D1FF;
   font-size: 24px;
}

.thumbnail a {
  color: blue;
}


#news h3{
    font-weight: bold;
    color: red;
}

#news img  {
   height: 250px;
   width: 320px;
}


/*transition pics*/
#marq_controls {
  text-align:right;
  font-weight: bold;
}
#marq_controls span {
  padding-right:2em;
  cursor:pointer;
}
#marqImgs {
  /*position:fixed;*/
  height:281px;
  width:100%;
  /*margin:0 auto 10px;*/

  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;

}
#marqImgs img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}


#marqImgs img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}


.center {
  margin: 0 auto;  
  display: block;
}



/*smartphone*/
@media only screen and (max-width: 600px) {
    

    .marquee-area {
      display: none;
    }  

}